go 1.25.1

use (
	./airplanehangar
	./airport
	./banking
	./basics
	./calculaterapi
	./controlmachine
	./coolfuncs
	./cryptocurrencychecker
	./decoder
	./digitalclock
	./gameserver
	./gohttpclient
	./golangimplemention
	./gormintroduction
	./heterogeneousinputoutput
	./librarytrouble
	./milgramexpriment
	./namelessproblem
	./onlinelibrary
	./phonebook
	./storemanager
	./tested
	./texteditor
	./tiktak
	./weatherapi
)
