go 1.25.1

use (
	./banking
	./basics
	./calculaterapi
	./controlmachine
	./coolfuncs
	./decoder
	./digitalclock
	./gameserver
	./golangimplemention
	./heterogeneousinputoutput
	./namelessproblem
	./gohttpclient
	./storemanager
	./tested
)
