go 1.25.1

use (
	./banking
	./basics
	./calculaterapi
	./controlmachine
	./coolfuncs
	./cryptocurrencychecker
	./decoder
	./digitalclock
	./gameserver
	./gohttpclient
	./golangimplemention
	./gormintroduction
	./heterogeneousinputoutput
	./namelessproblem
	./onlinelibrary
	./storemanager
	./tested
	./weatherapi
)
